@model IEnumerable<GloboTicket.Client.Models.View.BasketLineViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Event name</th>
            <th>Date</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @Html.EditorForModel()
    </tbody>
</table>
<a asp-controller="EventCatalog" asp-action="Index">Back to event catalog</a>