a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}

.shoppingCartIcon {
    width: 50px;
}

.artistPic {
    width: 100px;
}
