@model GloboTicket.Client.Models.View.EventListModel

@{ 
    var categoryListItems = Model.Categories.Select(c =>
        new SelectListItem { Value = c.CategoryId.ToString(), Text = c.Name }
    );
}

<form asp-action="SelectCategory" method="post">
    <select name="selectedCategory" asp-items="categoryListItems"></select>
    <button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Date</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Events)
    </tbody>
</table>

@section Widget {
    <partial name="_ShoppingCartWidget" model="@Model.NumberOfItems" />
}