@model IEnumerable<GloboTicket.Client.Models.Api.Event>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Date</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>

@section Widget {
    <partial name="_ShoppingCartWidget" model="ViewBag.NumberOfBasketItems" />
}