@model GloboTicket.Client.Models.View.EventListModel

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Date</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Events)
    </tbody>
</table>

@section Widget {
    <partial name="_ShoppingCartWidget" model="@Model.NumberOfItems" />
}