@model int
<div class="row">
    <div class="col-md-6">
        <a asp-controller="ShoppingBasket" asp-action="Index">
            <img class="shoppingCartIcon" src="~/img/cart-plus.svg" alt="Shopping cart icon" />
        </a>
    </div>
    <div class="col-md-6 ticketAmount">
        @Model
        <span class="tickets">
            TICKETS
        </span>
    </div>

</div>